<body>
    <div class="tabs" id="tabs-1">
        <div class="controls" data-controls>
            <a href="#Warr" class="controls__item ">Warr</a>
            <a href="#Ukraine" class="controls__item">Ukraine</a>
            <a href="#Nato" class="controls__item">Nato</a>
        </div>

        <div class="panes" data-panes>
            <div class="pane" id="Warr">
                <h2 class="pane__state">🗺Warr</h2>
                <p class="pane__text">
                <div>
                    <h1>Війна завітала в мою домівку</h1>
                    <form action="" class="Search-form">
                        <input type="tex " name="searchQuery" autocomplete="of" placeholder="searchNews"
                            class="serch-input">
                        <button type="submit" class="serch-button">Пошук новин</button>
                    </form>
                    <div class="galery-warr">
                        <img src="" alt="">
                    </div>
                </div>
                </p>
            </div>

            <div class="pane" id="Ukraine">
                <h2 class="pane__state">🔥Ukraine</h2>
                <p class="pane__text">
                <div>
                    <h1>Новини України</h1>
                    <form action="" class="Search-form">
                        <input type="tex " name="searchQuery" autocomplete="of" placeholder="searchNews"
                            class="serch-input">
                        <button type="submit" class="serch-button">Пошук новин</button>
                    </form>
                    <div class="galery-warr">
                        <img src="" alt="">
                    </div>
                </div>
                </p>
            </div>

            <div class="pane" id="Nato">
                <h2 class="pane__state">🐑Nato</h2>
                <p class="pane__text">
                <div>
                    <h1>Новини Нато та Евросоюзу</h1>
                    <form action="" class="Search-form">
                        <input type="tex " name="searchQuery" autocomplete="of" placeholder="searchNews"
                            class="serch-input">
                        <button type="submit" class="serch-button">Пошук новин</button>
                    </form>
                    <div class="galery-warr">
                        <img src="" alt="">
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
</body>